@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #274c77;
    background-color: #e7ecef;
}
/*---------------------------------------------Heading---*/
#header-color {
     background-color: #e7ecef;
}

#logo {
    color: inherit;
    font-family: Kalam, cursive;
    font-size: 40px;
    letter-spacing: 2px;
    float: left;
    padding-top: 10px;
}

#logo:hover{
    color: #479ce0;
}

#menulist {
    margin-left: auto;
}

#menulist a {
    font-size: 18px;
    color: #479ce0;
    letter-spacing: 2px;
    margin: 5px;
    text-transform: uppercase;
}

#menulist a:hover {
    color: inherit;
}

#menulist .active {
    border-bottom: 1px solid #274c77;
    color: #274c77;
}
/*--------------------------------------Media Queries for Heading---*/
/*Extra Large screen size - Logo text and navigation bar repositioned and re-sized */
@media screen and (min-width: 2500px) {
    #logo {
        font-size: 80px;
        margin-left: -500px;
    }

    #menulist {
        margin-left: 670px;
    }

    #menulist a {
        font-size: 40px;
        margin: 20px;
    }
}
/*
Screen sizes with Hamburger dropdown menu - underline removed from the selected page title
*/
@media screen and (max-width: 991px) {
    #menulist .active {
        border-bottom: none;
        color: #274c77;
    }
}
/*Tablet size screen - Logo text, navigation hamburger menu re-sized*/
@media screen and (max-width: 768px) {
    #logo {
        color: inherit;
        font-family: Kalam, cursive;
        font-size: 32px;
        letter-spacing: 2px;
        float: left;
    }

    .navbar-toggler {
        padding: 0.15rem 0.45rem;       
    }

    #menulist a {
        font-size: 18px;
    }
}
/*Medium mobile screen size - Logo text, navigation hamburger menu re-sized*/
@media screen and (max-width: 375px) {
    #logo {
        color: inherit;
        font-family: Kalam, cursive;
        font-size: 30px;
        letter-spacing: 2px;
        float: left;
    }

    .navbar-toggler {
        padding:  1.2px 4.8px;          
    }

    #menulist a {
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    #logo {
        font-size: 28px;
    }
}
/*Small mobile screen size - Logo text, navigation hamburger menu re-sized*/
@media screen and (max-width: 320px) {
    #logo {
        color: inherit;
        font-family: Kalam, cursive;
        font-size: 20px;
    }

    .navbar-toggler {
        padding: 0.6px 2.4px;      
    }

    #menulist a {
        font-size: 12px;
    }
}
/*
Extra Small mobile screen size - Logo text, navigation hamburger menu re-sized
*/
@media screen and (max-width: 320px) {
    #logo {
        font-size: 18px;
    }

    .navbar-toggler {
        padding: 0.4px 0.6px;      
    }
}
/*---------------------------------------------Homepage---*/
#outer {
    height: 600px;
    width: 100%;
}

#hero-image {
    background: url("../images/hero-image.jpg") no-repeat center center;  
    height: 300px; 
    width: 100%;
    background-size: cover; 
}

#homepage-h1 {
    text-align: center;
    font-size: 15px;
    padding-top: 310px;
}

#homepage-h1 span {
    color: #479ce0;
    font-family: Kalam, cursive;
    letter-spacing: 2px;
}

#homepage-cover-text-background {
    text-align: center;
    background-color: #479ce0;
    color: #e7ecef;
    height: 150px;
    border-radius: 30%;
    padding: 0;
    width: 100%;
}

#ul-benefits-list { 
    font-family: Kalam, cursive;
    letter-spacing: 2px;
    padding-left: 2%;
    list-style-type: none;
    font-size: 30px;
    padding-top: 10px;
} 

#outer-button {
    text-align: center;
}

#subscribe-btn-home-cover {
    background-color: #274c77;
    padding: 0;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
}

#subscribe-btn-home-cover span {  
    text-transform: uppercase; 
    font-size: 20px;
    color: #e7ecef;
    line-height: 33px;
} 

#subscribe-btn-home-cover:hover {
    background-color: #3a8347;
}
/*--------------------------------------Media Queries for Homepage---*/
/*
Extra Large desktop screen size - hero image, header, cover text and subsribe button re-sized, repositioned and color changes
*/
@media screen and (min-width: 2560px) {  
    #outer { 
        height: 2000px; 
    } 

    #hero-image { 
        height: 2000px;  
        background-size: cover;  
    } 

    #homepage-h1 { 
        font-size: 80px; 
        padding-top: 160px; 
    }  

    #homepage-h1 span { 
        color: #274c77; 
    } 

    #homepage-cover-text-background { 
        background-color: rgba(231,236,239, 0.7); 
        color: #274c77; 
        width: 25%; 
        height: 20%; 
        margin-left: 1700px; 
        margin-top: 200px; 
    } 

    #ul-benefits-list {  
        font-size: 70px; 
        padding-top: 40px; 
    }  

    #outer-button { 
        text-align: left; 
        margin-left: 1767px; 
        margin-top: 100px; 
    } 

    #subscribe-btn-home-cover { 
        background-color: #274c77; 
        padding: 0; 
        width: 500px; 
        height: 100px; 
        border-radius: 40px; 
        border: none; 
        margin-top: 20px; 
    } 

    #subscribe-btn-home-cover span {  
        font-size: 40px; 
        line-height: 80px;
    }  
} 
/* 
Large Desktop screen size - hero image, header, cover text and subscribe button re-sized and repositioned 
*/
@media screen and (min-width: 1701px) and (max-width: 2559px) { 
    #outer { 
        height: 1400px; 
    } 

    #hero-image { 
        height: 1400px;  
        background-size: cover;  
    } 

    #homepage-h1 { 
        font-size: 50px; 
        padding-top: 100px; 
    }  

    #homepage-h1 span { 
        color: #274c77; 
    } 

    #homepage-cover-text-background { 
        background-color: rgba(231,236,239, 0.7); 
        color: #274c77; 
        width: 20%; 
        height: 200px;
        margin-left: 1450px; 
        margin-top: 50px; 
    } 

    #ul-benefits-list { 
        font-size: 40px;
        padding-top: 10px;
    }    

    #outer-button { 
        text-align: left; 
        margin-left: 1542px; 
        margin-top: 40px; 
    } 
} 
/* 
Desktop screen size - hero image, header, cover text and subscribe button re-sized and repositioned 
*/
@media screen and (min-width: 1600px) and (max-width: 1700px) { 
    #outer { 
        height: 1300px; 
    } 

    #hero-image { 
        height: 1310px;  
        background-size: cover;  
    } 

    #homepage-h1 { 
        font-size: 50px; 
        padding-top: 100px; 
    }  

    #homepage-h1 span { 
        color: #274c77; 
    } 

    #homepage-cover-text-background { 
        background-color: rgba(231,236,239, 0.7); 
        color: #274c77; 
        width: 28%; 
        height: 200px;
        margin-left: 950px; 
        margin-top: 50px; 
    } 

    #ul-benefits-list { 
        font-size: 40px;
        padding-top: 10px;
    } 

    #outer-button { 
        text-align: left; 
        margin-left: 1045px; 
        margin-top: 40px; 
    } 
} 
/* 
Desktop screen size - hero image, header, cover text and subscribe button re-sized and repositioned 
*/
@media screen and (min-width: 1440px) and (max-width: 1599px) { 
    #outer { 
        height: 1000px; 
    } 

    #hero-image { 
        height: 1010px;  
        background-size: cover;  
        margin-top: 50px;
    } 

    #homepage-h1 { 
        font-size: 32px; 
        padding-top: 60px; 
    }  

    #homepage-h1 span { 
        color: #274c77; 
    } 

    #homepage-cover-text-background { 
        background-color: rgba(231,236,239, 0.7); 
        color: #274c77; 
        width: 25%; 
        height: 200px;
        margin-left: 950px; 
        margin-top: 50px; 
    } 

    #ul-benefits-list { 
        font-size: 40px;
        padding-top: 10px;
    } 

    #outer-button { 
        text-align: left; 
        margin-left: 1002px; 
        margin-top: 20px; 
    } 
} 
/* 
Small desktop screen size - hero image, header, cover text and subscribe button re-sized and repositioned 
*/
@media screen and (min-width: 1280px) and (max-width: 1439px) { 
    #outer { 
        height: 850px; 
    } 

    #hero-image { 
        height: 860px;  
        background-size: cover; 
        margin-top: 50px; 
    } 

    #homepage-h1 { 
        font-size: 32px; 
        padding-top: 60px; 
    }

    #homepage-h1 span { 
        color: #274c77; 
    } 
    
    #homepage-cover-text-background { 
        width: 25%; 
        margin-left: 850px; 
        margin-top: 200px;
        background-color: rgba(231,236,239, 0.7); 
        color: #274c77;
        margin-top: 75px; 
    } 

    #outer-button { 
        margin-left: 750px;
        margin-top: 40px;
    } 
} 
/* 
Small desktop screen size - hero image, header, cover text and subscribe button re-sized and repositioned 
*/
@media screen and (min-width: 1200px) and (max-width: 1279px) { 
    #outer { 
        height: 900px; 
    } 

    #hero-image { 
        height: 910px;  
        background-size: cover; 
        margin-top: 50px; 
    } 

    #homepage-h1 { 
        font-size: 32px; 
        padding-top: 60px; 
    }

    #homepage-h1 span { 
        color: #274c77; 
    } 
    
    #homepage-cover-text-background { 
        width: 25%; 
        margin-left: 815px; 
        margin-top: 200px;
        background-color: rgba(231,236,239, 0.7); 
        color: #274c77;
        margin-top: 75px; 
    } 

    #outer-button { 
        margin-left: 750px;
        margin-top: 40px;
    } 
} 
/* 
Laptop screen size - hero image, header, cover text and subscribe button re-sized and repositioned 
*/
@media screen and (min-width: 1024px) and (max-width: 1199px) { 
    #outer { 
        height: 770px; 
    } 

    #hero-image { 
        height: 780px;  
        background-size: cover;  
        margin-top: 50px;
    } 

    #homepage-h1 { 
        font-size: 25px; 
        padding-top: 60px; 
    }
    
    #homepage-h1 span { 
        color: #274c77; 
    }
    
    #homepage-cover-text-background { 
        width: 30%; 
        margin-left: 675px; 
        background-color: rgba(231,236,239, 0.7); 
        color: #274c77; 
        margin-top: 75px;
    } 

    #outer-button { 
        text-align: right; 
        padding-right: 50px; 
        margin-top: 25px
    } 
} 
/* 
Tablet screen size - hero image, header, cover text and subscribe button re-sized and repositioned 
*/ 
@media screen and (min-width: 786px) and (max-width: 1023px) {
    #outer { 
        height: 780px; 
    } 

    #hero-image { 
        height: 500px;  
    } 
    
    #homepage-h1 { 
        font-size: 24px; 
        margin-top: 80px;
        padding-top: 510px;
    }  

    #homepage-cover-text-background { 
        width: 40%; 
        margin-left: 30%; 
    } 

    #subscribe-btn-home-cover { 
        width: 190px; 
        height: 50px;
    } 

    #subscribe-btn-home-cover span {  
        font-size: 16px; 
    }  
}
/* 
Small tablet screen size - hero image, header, cover text and subscribe button re-sized and repositioned 
*/ 
@media screen and (min-width: 685px) and (max-width: 785px) {
    #outer { 
        height: 780px; 
    } 

    #hero-image { 
        height: 450px;  
    } 
    
    #homepage-h1 { 
        font-size: 24px; 
        margin-top: 60px;
        padding-top: 460px;
    }  

    #homepage-cover-text-background { 
        width: 40%; 
        margin-left: 30%; 
    } 

    #subscribe-btn-home-cover { 
        width: 190px; 
        height: 50px;
    } 

    #subscribe-btn-home-cover span {  
        font-size: 16px; 
    }  
}
/* 
Extra large mobile size - hero image, header, cover text and subscribe button re-sized and repositioned 
*/ 
@media screen and (min-width: 584px) and (max-width: 684px) {
    #outer { 
        height: 650px; 
    } 

    #hero-image { 
        height: 370px;  
    } 

    #homepage-h1 { 
        font-size: 18px; 
        margin-top: 80px;
        padding-top: 380px;
    }  

    #homepage-cover-text-background { 
        width: 50%; 
        margin-left: 25%; 
    } 

    #subscribe-btn-home-cover { 
        width: 190px; 
        height: 50px;
    } 

    #subscribe-btn-home-cover span {  
        font-size: 16px; 
    }  
}
/*
Large mobile screen size - hero image, header, cover text and subscribe button re-sized and repositioned 
*/  
@media screen and (min-width: 483px) and (max-width: 583px) {  

    #outer { 
        height: 600px; 
    } 

    #hero-image { 
        height: 330px;  
    } 

    #homepage-h1 { 
        font-size: 18px; 
        margin-top: 50px;
        padding-top: 340px;
    }  

    #homepage-cover-text-background { 
        width: 60%; 
        margin-left: 20%; 
    } 

    #subscribe-btn-home-cover { 
        width: 150px; 
        height: 50px;
    } 

    #subscribe-btn-home-cover span {  
        font-size: 12px; 
    }  
}
/*
Medium mobile screen size - hero image, header, cover text and subscribe button re-sized and repositioned 
*/ 
@media screen and (min-width: 382px) and (max-width: 482px) {  
    #outer { 
        height: 600px; 
    } 

    #hero-image { 
        height: 330px;  
    } 

    #homepage-h1 { 
        font-size: 18px; 
        margin-top: 50px;
        padding-top: 340px;
    }   

    #homepage-cover-text-background { 
        width: 65%; 
        margin-left: 17.5%; 
    } 

    #ul-benefits-list {  
        font-size: 26px; 
        padding-top: 20px; 
    }  

    #subscribe-btn-home-cover { 
        width: 150px; 
        height: 50px;
    } 

    #subscribe-btn-home-cover span {  
        font-size: 12px; 
    }  
}
/*
Medium mobile screen size - hero image, header, cover text and subscribe button re-sized and repositioned 
*/ 
@media screen and (min-width: 281px) and (max-width: 381px) {  
    #outer { 
        height: 600px; 
    } 

    #hero-image { 
        height: 300px;  
    } 

    #homepage-h1 { 
        font-size: 13px; 
        margin-top: 40px;
    }  

    #homepage-cover-text-background { 
        width: 70%; 
        margin-left: 15%; 
    } 

    #ul-benefits-list {  
        font-size: 22px; 
        padding-top: 20px; 
    }  

    #subscribe-btn-home-cover { 
        width: 150px; 
        height: 50px;
    } 

    #subscribe-btn-home-cover span {  
        font-size: 12px; 
    }  
}  
/*
Small mobile screen size - hero image, header, cover text and subscribe button re-sized and repositioned 
*/ 
@media screen and (max-width: 280px) { 

    #outer { 
        height: 600px; 
    } 

    #hero-image { 
        height: 300px; 
        margin-top: 50px; 
    } 
    #homepage-h1 { 
        font-size: 12px;  
    }  

    #homepage-cover-text-background { 
        width: 75%; 
        margin-left: 12.5%; 
    } 

    #ul-benefits-list {  
        font-size: 22px; 
        padding-top: 20px; 
    }  

    #subscribe-btn-home-cover { 
        width: 150px; 
        height: 50px;
    } 

    #subscribe-btn-home-cover span {  
        font-size: 12px; 
        line-height: 0px;
    }  
} 
/*---------------------------------------------About Page---*/
.bg-color-change-about {
    background-color: #274c77;
    color: #e7ecef;
    text-align: left;
}

#our-autism-journey, #next-step, #website-goals {
    text-align: left;
    margin-top: 10px;
}

#our-autism-journey {
    padding-top: 90px;
}

#website-goals {
    margin-bottom: 20px;
}

#factsheet-border {
    width: 300px;
    height: 200px;
    border-radius: 10%;
    background-color: #e7ecef;
    padding: 10px;
    margin-bottom: 10px;
}

#about-source {
    color: red;
    font-size: 10px;
    text-decoration: none;
}

#about-source:hover {
    color: #3a8347;
}

#nas-media, #cwmind-media {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

#resources-link, #resources-link2 {
    color: #479ce0;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
}

#resources-link:hover {
    color: #3a8347;
}

#resources-link2:hover {
    color: #3a8347;
}

.autism {
    font-family: Kalam, cursive;
    letter-spacing: 2px;
}

.hr-color-about {
    color: #479ce0;
    margin: 40px 0;
}

#subscribe-btn-about { 
    text-align: center;
    padding-bottom: 30px;
} 

#subscribe-btn-about span {  
    text-transform: uppercase; 
    font-size: large;
    color: #e7ecef;
    line-height: 33px;
} 

#subscribe-btn-about div {
    background-color: rgb(71, 156, 224);
    border: none;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
    padding: 0;
}

#subscribe-btn-about div:hover {
    background-color: #3a8347;
}

.useful-links-about, .useful-links-resources {
    text-align: center;
    background-color: white;
    padding-top: 15px;
    padding-right: 30px;
}

.useful-links-about h2, useful-links-resources h2 {
    color: #479ce0;
    font-size: 35px;
    padding-bottom: 15px;
}
/*--------------------------------------------Media Queries for About Pages---*/
/*
Large screen size - headers, factsheet, media clips, subsribe button and external link images re-sized and repositioned 
*/
@media screen and (min-width: 1601px) and (max-width: 2560px) {
    #our-autism-journey {
        font-size: 60px;
        padding-top: 200px;
        padding-bottom: 48px;
    }

    #website-goals, #next-step {
        font-size: 60px;
        padding-bottom: 48px;
    }

    #factsheet-border {
        width: 400px;
        height: 300px;
        margin-left: 620px;
    }

    #factsheet-border p {
        font-size: 24px;
    }

    #about-source {
        font-size: 10px;
        margin-bottom: 5px;
    }

    #subscribe-btn-about div {
        width: 400px;
        height: 80px;
    }

    #subscribe-btn-about {
        padding: 50px 0;
    }

    #subscribe-btn-about span {
        font-size: 30px;
        padding-top: 1000px;
    }

    .useful-links-about h2 {
        font-size: 60px;
        padding-left: 20px;
    }

    #nas-media {
        float: left;
        margin-left: 1060px;
        margin-top: -310px;
        width: 400px;
        height: 300px;
    }

    #cwmind-media {
        float: left;
        margin-left: 1500px;
        margin-top: -310px;
        width: 400px;
        height: 300px;
    }
}
/* Desktop screen size - factsheet, media clips, headers and subscribe re-sized and re-positioned */
@media screen and (min-width: 1501px) and (max-width: 1600px) {
    #our-autism-journey {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    #website-goals, #next-step{
        padding-bottom: 30px;
    }
    
    #factsheet-border {
        margin-left: 150px;
    }

    #factsheet-border p {
        font-size: 16px
    }
    
    #nas-media {
        float: right;
        margin-right: 39%;
        margin-top: -205px;
    }

    #cwmind-media {
        float: right;
        margin-right: 150px;
        margin-top: -205px;
        margin-bottom: 20px;
    }

    #subscribe-btn-about div {
        width: 300px;
        height: 65px;
    }

    #subscribe-btn-about {
        padding: 30px 0;
    }

    #subscribe-btn-about span {
        font-size: 25px;
        line-height: 50px;
    }
}
/*
Large laptop and desktop screen size - factsheet and media clips re-sized and repositioned
*/
@media screen and (min-width: 1440px) and (max-width: 1500px) {
    #factsheet-border {
        margin-left: 70px;
    }
    
    #nas-media {
        float: right;
        margin-right: 39%;
        margin-top: -205px;
    }

    #cwmind-media {
        float: right;
        margin-right: 70px;
        margin-top: -205px;
        margin-bottom: 20px;
    }
}
/*
Laptop and desktop screen size - factsheet and media clips re-sized and repositioned
*/
@media screen and (min-width: 1280px) and (max-width: 1439px) {
    #factsheet-border {
        margin-left: 70px;
    }
    
    #nas-media {
        float: right;
        margin-right: 475px;
        margin-top: -205px;
    }

    #cwmind-media {
        float: right;
        margin-right: 70px;
        margin-top: -205px;
        margin-bottom: 20px;
    }
}
/*
Smaller laptop screen size -  factsheet and media clips re-sized and repositioned
*/
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    #factsheet-border {
        margin-left: 25px;
    }
    
    #nas-media {
        float: right;
        margin-right: 350px;
        margin-top: -205px;
    }

    #cwmind-media {
        float: right;
        margin-right: 25px;
        margin-top: -205px;
        margin-bottom: 20px;
    }
}
/* Tablet screen size - factsheet and media clips re-sized and re-positioned */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #factsheet-border {
        margin-left: 40px;
    }
    
    #nas-media {
        float: right;
        margin-right: 40px;
        margin-top: -205px;
    }

    #cwmind-media {
        float: right;
        margin-right: 405px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
}
/* Large mobile screen size - factsheet and media clips re-sized and re-positioned */
@media screen and (max-width: 425px) {
    #factsheet-border {
        width: 80%;
        margin: 40px;
    }

    #factsheet-border p {
        font-size: 16px
    }

    #about-source {
        font-size: 12px;
    }

    #nas-media, #cwmind-media {
        margin: 20px 40px;
        width: 80%;
    }
}
/* Medium mobile screen size - header, factsheet and media clips re-sized and re-positioned */
@media screen and (max-width: 375px) {
    #our-autism-journey {
        padding-top: 70px;
        padding-bottom: 10px;
    }
    
    #factsheet-border {
        width: 90%;
        margin: 15px;
    }

    #about-source {
        font-size: 10px;
    }

    #nas-media, #cwmind-media {
        margin-top: 30px;
        margin-left: 15px;
        width: 90%;
    }
}
/* Small mobile screen size - header, factsheet and media clips re-sized and re-positioned */
@media screen and (max-width: 320px) {
    #our-autism-journey {
        padding-top: 60px;
        padding-bottom: 10px;
    }

    #factsheet-border p {
        font-size: 14px
    }

    #about-source {
        font-size: 10px;
    }

    #nas-media, #cwmind-media {
        margin-top: 30px;
    }
}
/* Small mobile screen size - factsheet and media clips re-sized and re-positioned */
@media screen and (max-width: 280px) {
    #factsheet-border p {
        font-size: 14px
    }

    #about-source {
        font-size: 8px;
    }

    #our-autism-journey {
        font-size: 22px;
        padding-top: 50px;
        padding-bottom: 10px;
    }

    #nas-media, #cwmind-media {
        margin-top: 20px;
    }
}
/*---------------------------------------------Resources Page---*/
h2  {
    text-align: center;
}

.bg-color-change-resources {
    background-color: #274c77;
    color: #e7ecef;
    text-align: left;
}

.hr-color-resources {
    color: #479ce0;
    margin: 40px 0;
}

#advice-ideas, #next {
    text-align: left;
    margin-top: 10px;
    padding-bottom: 30px;
}

#advice-ideas {
    padding-top: 90px;
}

#going-out, #routines, #tips, #non-verbal {
    color: #479ce0;
    text-align: left;
    font-size: 26px;
}

#going-out:hover, #routines:hover, #tips:hover, #non-verbal:hover {
    color: #3a8347;
}

.going-out-p, .routines-p, .tips-p, .non-verbal-p {
    text-align: left;
}

.bg-light-grey {
    background-color: #e7ecef;
}

#subscribe-btn-resources { 
    text-align: center;
    padding-bottom: 30px;
} 

#subscribe-btn-resources span {  
    text-transform: uppercase; 
    font-size: large;
    color: #e7ecef;
    line-height: 33px;
} 

#subscribe-btn-resources div {
    background-color: rgb(71, 156, 224);
    border: none;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
    padding: 0;
}

#subscribe-btn-resources div:hover {
    background-color: #3a8347;
}

.useful-links-resources {
    text-align: center;
    background-color: white;
    padding-top: 15px;
}

.useful-links-resources h2 {
    color: #479ce0;
    font-size: 35px;
    padding-bottom: 15px;
}
/*-----------------------------------------Media Queries for Resources Page---*/
/*
Large screen size - headers, text content, useful links and subscribe button re-sized and re-positioned
*/
@media screen and (min-width: 1601px) and (max-width: 2560px) {
    #advice-ideas {
        padding-top: 200px;
        padding-bottom: 50px;
    }

    #going-out, #routines, #tips, #non-verbal {
        font-size: 36px;
    }

    #subscribe-btn-resources div {
        width: 400px;
        height: 80px;
    }

    #subscribe-btn-resources {
        padding: 50px 0;
    }

    #subscribe-btn-resources span {
        font-size: 30px;
        padding-top: 1000px;
    }

    .useful-links-resources h2 {
        font-size: 60px;
        padding-left: 20px;
    }
}
/*
Desktop screen size - header and subscribe button re-sized and re-positioned
*/
@media screen and (min-width: 1501px) and (max-width: 1600px) {
    #advice-ideas {
        padding-top: 100px;
        padding-bottom: 30px;
    }
    
    #subscribe-btn-resources div {
        width: 300px;
        height: 65px;
    }

    #subscribe-btn-resources {
        padding: 30px 0;
    }

    #subscribe-btn-resources span {
        font-size: 25px;
        line-height: 50px;
    }
}
/*Tablet screen size - headers resized and repositioned*/
@media screen and (max-width: 768px) {
    #going-out, #routines, #tips, #non-verbal {
        font-size: 22px;
    }

    #advice-ideas {
        padding-top: 80px;
        padding-bottom: 15px;
    }
}
/*Large mobile screen - headers resized and subsribe button centred*/
@media screen and (max-width: 425px) {
    #going-out, #routines, #tips, #non-verbal {
        font-size: 18px;
    }
    #subscribe-btn-resources { 
        text-align: center;
    }

    #advice-ideas {
        padding-top: 70px;
        padding-bottom: 15px;
    }
}
/*Small mobile screen - external images re-sized*/
@media screen and (max-width: 320px) and (min-width: 280px) {
    #going-out, #routines, #tips, #non-verbal {
        font-size: 14px;
    }

    #advice-ideas {
        padding-top: 50px;
        padding-bottom: 15px;
    }
}
/*------------------------------Media Queries for About and Resources Pages---*/
/*
Large screen size - header, content, bullet points and external link images re-sized
*/
@media screen and (min-width: 1500px) and (max-width: 2560px) {
    h2 {
        font-size: 48px;
    }

    p, ul, #resources-link, #resources-link2 {
        font-size: 32px;
    }

    .charity-logo img {
        width: 500px;
    } 
}
/*Tablet screen size - external images re-sized*/
@media screen and (max-width: 768px) {
    .charity-logo img {
        width: 200px;
    }
}
/*Medium mobile screen - external images re-sized*/
@media screen and (max-width: 425px) {    
    .charity-logo img {
        width: 280px;
        padding-bottom: 10px;
    }
    
    #nas-logo {
        margin-bottom: 30px;
    }
}
/*Small mobile screen - external images re-sized*/
@media screen and (max-width: 320px) and (min-width: 280px) {
    .charity-logo img {
        width: 230px;
        padding-right: 15px;
        padding-bottom: 10px;
    }

    #nas-logo {
        margin-bottom: 30px;
    }
}
/*---------------------------------------------Subscribe Page---*/
.bg-change-form {
    background-color: #274c77;
    color: #e7ecef;
    text-align: left;
}

#form-header {
    text-align: center;
    font-size: 18px;
    padding-top: 90px;
}

#form-border {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    color: #274c77;
    background-color: #e7ecef;
    padding: 20px; 
}

#subscribe-for-free {
    font-size: 16px;
    text-align: center;
}

form .label {
    font-size: 16px;
}

#subscribe-btn {
   padding-top: 20px;
   text-align: center;
}

#subscribe-btn span {  
    text-transform: uppercase; 
    font-size: 18px;
    color: #e7ecef
} 

#subscribe-btn button {
    background-color: #274c77;
    border: none;
    border-radius: 30px;
}

#subscribe-btn button:hover {
    background-color: #3a8347;
}

#what-to-expect {
    text-align: left;
}

.hr-color-subscribe {
    color: #479ce0;
    margin: 50px 0;
}

#thank-you-image {
    background: url("../images/thank-you-image.jpg") no-repeat center center;  
    height: 200px; 
    width: 100%;
    background-size: cover; 
    border-radius: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.useful-links-subscribe {
    text-align: center;
    background-color: white;
    padding-top: 15px;
    padding-right: 30px;
}

.useful-links-subscribe h2 {
    color: #479ce0;
    font-size: 35px;
    padding-bottom: 15px;
}
/*---------------------------------------------Media Queries for Subscribe---*/
/*
Large screen size - sub-headers, subscribe button, form content, paragraphs, and image re-sized and re-positioned
*/   
@media screen and (min-width: 1601px) and (max-width: 2560px) {
    #form-header {
        font-size: 48px;
        padding-top: 200px;
        padding-bottom: 40px;
    }

    #subscribe-for-free {
        font-size: 28px;
        padding-top: 30px;
    }

    form .label {
        font-size: 24px;
    }

    #form-border {
        width: 60%;
        margin-left: 20%;
        height: 480px;
    }

    #subscribe-btn span {  
        font-size: 22px;
    } 

    #what-to-expect {
        font-size: 48px;
    }

    #form-paragraph {
        font-size: 32px;
    }

    #thank-you-image {
        height: 600px; 
        width: 75%;
    }  

    .useful-links-subscribe h2 {
        font-size: 60px;
    }
}
/*Desktop screen size - sub-headers, subscribe button and image re-sized and re-positioned*/ 
@media screen and (min-width: 1500px) and (max-width: 1600px) {
    #form-header {
        font-size: 32px;
        padding-top: 120px;
        padding-bottom: 30px;
    }

    #form-border {
        width: 50%;
        margin-left: 25%;
    }

    #subscribe-for-free{
        font-size: 24px;
    }

    #thank-you-image {
        height: 500px; 
        width: 75%;
    } 
}
/*
Large laptop screen size - sub-headers, subscribe button, form content, paragraphs and image re-sized and re-positioned
*/
@media screen and (min-width: 1440px) and (max-width: 1499px) {
    #form-header {
        font-size: 32px;
        padding-top: 120px;
        padding-bottom: 40px;
    }

    #subscribe-for-free {
        font-size: 26px;
    }

    #form-border {
        width: 50%;
        margin-left: 25%;
    }

    #subscribe-btn span {  
        font-size: 18px;
    } 

    #what-to-expect {
        font-size: 32px;
    }

    #form-paragraph {
        font-size: 18px;
    }

    #thank-you-image {
        height: 480px; 
        width: 75%;
    }  
}
/*tablet and small laptop screen size - sub-headers, form and image re-sized and re-positioned*/
@media screen and (min-width: 801px) and (max-width: 1439px) {
    #form-header {
        font-size: 26px;
        padding-top: 140px;
        padding-bottom: 40px;
    }

    #subscribe-for-free {
        font-size: 20px;
    }

    form .label {
        font-size: 18px;
    }

    #form-border {
        width: 50%;
        margin-left: 25%;
    }

    #what-to-expect {
        font-size: 32px;
    }

    #thank-you-image {
        height: 380px; 
        width: 75%;
    }  

    #subscribe-btn span {  
        font-size: 18px;
    } 
}
/*Tablet screen size - sub-header, form and image re-sized and re-positioned*/
@media screen and (min-width: 768px) and (max-width: 800px) {
    #form-header {
        font-size: 22px;
        padding-top: 120px;
        padding-bottom: 30px;
    }
    
    #form-border {
        width: 50%;
        margin-left: 25%;
    }

    #what-to-expect {
        font-size: 26px;
    }

    #thank-you-image {
        height: 320px; 
        width: 75%;
    }  

    #subscribe-btn span {  
        font-size: 18px;
    } 
}
/*Small tablet screen size - header and form re-sized and re-positioned*/
@media screen and (max-width: 767px) {

    #form-header {
        font-size: 22px;
        padding-top: 120px;
        padding-bottom: 30px;
    }

    form .label {
        font-size: 14px;
    }

    #what-to-expect {
        font-size: 24px;
    }
    #subscribe-btn span {  
        font-size: 16px;
    } 
}
/*Medium mobile screen size - header and form and re-sized and re-positioned*/
@media screen and (max-width: 360px) {
    #form-header {
        font-size: 18px;
        padding-top: 90px;
        padding-bottom: 30px;
    }

    form .label {
        font-size: 12px;
    }

    #what-to-expect {
        font-size: 24px;
    }
}
/*Small mobile screen size - header and form and re-sized and re-positioned*/
@media screen and (max-width: 280px) {
    #form-header {
        font-size: 15px;
        padding-top: 80px;
        padding-bottom: 20px
    }

    #what-to-expect {
        font-size: 20px;
    }
}
/*---------------------------------------------Footer---*/
footer {
    position: relative;
    margin: 10px;
    border: 5px
}

footer .icons, p {
    text-align: center;
    color: #274c77;
    padding-top: 10px;
}

.icons i {
    color: #479ce0;
}

.icons i:hover{
    color: #274c77;
}

a {
    font-size: 20px;
    padding: 20px;
}

.copyright {
    margin-top: 5px;
}
/*--------------------------------------Media Queries for Footer---*/
/*Large desktop screen size - icons resized and further padding added*/
@media screen and (min-width: 2500px) {
    a {
        font-size: 40px;
        padding: 40px;
    }
}
/*End of CSS*/