@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

header {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #274c77;
    background-color: #e7ecef;
}

/*---------------------------------------------Heading---*/

#logo {
    color: inherit;
    font-family: Kalam, cursive;
    font-size: 36px;
    letter-spacing: 2px;
    float: left;
    padding-top: 10px;
}

#logo:hover{
    color: #479ce0;
}

/* .logoicon {
    background: url("../images/logo-icon.png"); 
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
    padding: 15px;
} */

#menulist {
    margin-left: auto;
}

#menulist a {
    font-size: 18px;
    color: #479ce0;
    letter-spacing: 2px;
    margin: 10px;
    text-transform: uppercase;
}

#menulist a:hover {
    color: inherit;
}

#menulist .active {
    border-bottom: 1px solid #274c77;
    color: #274c77;
}

/*--------------------------------------Media Queries for Heading---*/

@media screen and (max-width: 991px) {
    #menulist .active {
        border-bottom: none;
        color: #274c77;
    }
}

@media screen and (max-width: 768px) {
    #logo {
        color: inherit;
        font-family: Kalam, cursive;
        font-size: 35px;
        letter-spacing: 2px;
        float: left;
    }

    .navbar-toggler {
        padding: 0.15rem 0.45rem;       
    }

    #menulist a {
        font-size: 18px;
    }
}

@media screen and (max-width: 425px) {
    #logo {
        color: inherit;
        font-family: Kalam, cursive;
        font-size: 35px;
        letter-spacing: 2px;
        float: left;
    }

    .navbar-toggler {
        padding: 0.10rem 0.40rem;       
    }

    #menulist a {
        font-size: 16px;
    }

    #menulist .active {
        border-bottom: none;
        color: #274c77;
    }
}

@media screen and (max-width: 375px) {
    #logo {
        color: inherit;
        font-family: Kalam, cursive;
        font-size: 30px;
        letter-spacing: 2px;
        float: left;
    }

    .navbar-toggler {
        padding: 0.10rem 0.40rem;       
    }

    #menulist a {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    #logo {
        color: inherit;
        font-family: Kalam, cursive;
        font-size: 23px;
        letter-spacing: 2px;
        float: left;
    }

    .navbar-toggler {
        padding: 0.05rem 0.30rem;       
    }

    #menulist a {
        font-size: 16px;
    }
}

/*---------------------------------------------Homepage---*/

#outer {
    height: 810px;
    width: 100%;
    background-color: #e7ecef; 
}

#hero-image {
    background: url("../images/hero-image.jpg") no-repeat center center;  
    height: 800px; 
    width: 100%;
    position: relative;
    background-size: cover;
}

#ul-list { 
    font-family: 'Kalam', cursive; 
    text-align: center; 
    color: #274c77; 
    letter-spacing: 2px; 
    padding: 30px 30px 30px 30px;
    background-color: rgba(231,236,239,0.8); 
    border-radius: 30%; 
    top: 20%; 
    left: 70%;
    position: absolute; 
    font-size: 30px;
    list-style-type: none;

} 

#subscribe-btn-home {  
    right: 175px;
    top: 400px;
    position: absolute; 
} 

#subscribe-btn-home span {  
    text-transform: uppercase; 
    font-size: large;
    color: #e7ecef
} 

#subscribe-btn-home button {
    background-color: rgba(39,76,119,0.8);
    border: none;
    border-radius: 30px;
}

#subscribe-btn-home button:hover {
    background-color: #479ce0;
}

/*--------------------------------------Media Queries for Homepage---*/

@media screen and (min-width: 2560px) {
     #outer {
        height: 1400px;
    }

    #hero-image {
        height: 1400px; 
    }

    #ul-list {
       font-size: 80px;
       padding: 50px;
    }

    #subscribe-btn-home {  
        position: absolute;
        right: 182px;
        top: 850px;
    }

     #subscribe-btn-home span {  
        font-size: 50px;
    }

}


@media screen and (max-width: 1024px) {
    #subscribe-btn-home {  
        right: 51px;
        top: 420px;
    } 
}

@media screen and (max-width: 768px) {
    #ul-list {
        font-size: 20px;
    }

    #subscribe-btn-home {
        right: 32px;
        top: 350px;
    }

    #subscribe-btn-home span {  
        font-size: 15px;
    }

    .nav-link {
        padding: 2px;
    }

}

@media screen and (max-width: 425px) {
    #outer {
        height: 750px;
    }

    #hero-image {
        background: url("../images/hero-image.jpg") no-repeat center center;  
        height: 400px; 
        width: 100%; 
        position: relative;
        background-size: cover;
    }

    #ul-list {
        color: #274c77;
        background-color: rgba(71, 156, 224,0.8);
        top: 430px;
        left: 107px;
    }

    #subscribe-btn-home {  
        right: 121px;
        top: 630px;
    } 
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    #outer {
        height: 750px;
    }

    #hero-image {
        background: url("../images/hero-image.jpg") no-repeat center center;  
        height: 400px; 
        width: 100%; 
        position: relative;
        background-size: cover;
    }

    #ul-list {
        color: #274c77;
        background-color: rgba(71, 156, 224,0.8);
        top: 430px;
        left: 82.5px;
    }

    #subscribe-btn-home {  
        right: 96px;
        top: 630px;
    } 
}

@media screen and (max-width: 320px) {

   #outer {
        height: 750px;
    }

    #hero-image {
        background: url("../images/hero-image.jpg") no-repeat center center;  
        height: 400px; 
        width: 100%; 
        position: relative;
        background-size: cover;
    }

    #ul-list {
        color: #274c77;
        background-color: rgba(71, 156, 224,0.8);
        top: 430px;
        left: 55px;
    }

    #subscribe-btn-home {  
        right: 69px;
        top: 630px;
    } 

}

/*---------------------------------------------About Page---*/

.border-height {
    margin-top: 20px;
}

h2, h5  {
    text-align: center;
}

.color-change {
    background-color: #274c77;
    color: #e7ecef;
}

.hr-color {
    color: #479ce0;
}

#subscribe-btn-about { 
    margin-top: 20px; 
    text-align: center;
} 

#subscribe-btn-about span {  
    text-transform: uppercase; 
    font-size: large;
    color: #274c77;
} 

#subscribe-btn-about button {
    background-color: rgb(71, 156, 224);
    border: none;
    border-radius: 30px;
}

#subscribe-btn-about button:hover {
    background-color: #e7ecef;
}

.background-color p {
    color: #e7ecef;
}

.ideas-1 {
    height: 100px;
    padding: 2px;
    overflow: scroll;
}

.useful-links {
    text-align: center;
}

/*---------------------------------------------Media Queries for About Page---*/



/*---------------------------------------------Subscribe Page---*/
#testing {
    border: 1px solid #479ce0;
    padding: 10px;
}

#sub-form {
    background-color: none;
    position: absolute;
    right: 200px;
    top: 60px;
    font-size: 20px;
    color: #274c77;   
}

#subscribe-btn-sub {
    right: 150px;
    top: 330px;
    position: absolute; 
}

#subscribe-btn-sub span {  
    text-transform: uppercase; 
    font-size: large;
    color: #e7ecef
} 

#subscribe-btn-sub button {
    background-color: rgba(39,76,119,0.8);
    border: none;
    border-radius: 30px;
}

#subscribe-btn-sub button:hover {
    background-color: #479ce0;
}

#sub-form h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*---------------------------------------------Media Queries for Subscribe---*/

/* @media screen and (max-width: 425px) {

    #logo {
        color: inherit;
        font-family: Kalam, cursive;
        font-size: 30px;
        letter-spacing: 2px;
        float: left;
    }
    #hero-image {
        background: url(../images/hero-image.jpg) no-repeat center center;
        min-height: 300px;
        width: 100%;
        position: relative;
        background-size: cover;
    }

    #sub-form {
        background-color: none;
        position: absolute;

        top: 280px;
        font-size: 15px;
        color: #274c77;
        padding: 50px;
    }
} */

/*---------------------------------------------Footer---*/
footer {
    position: relative;
    margin: 10px;
    border: 5px
}

footer .icons, p {
    text-align: center;
    color: #274c77;
}

.icons i {
    color: #479ce0;
}

.icons i:hover{
    color: #274c77;
}

a {
    font-size: 20px;
    padding: 20px;
}

.copyright {
    margin-top: 5px;
}

/*--------------------------------------Media Queries for Footer---*/

/* @media screen and (max-width: 425px) {
    footer {
        margin: -150px;
    }
} */