@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

header {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #274c77;
    background-color: #e7ecef;
}

/*---------------------------------------------Heading---*/

#logo {
    color: inherit;
    font-family: Kalam, cursive;
    font-size: 36px;
    letter-spacing: 2px;
    float: left;
    padding-top: 10px;
}

#logo:hover{
    color: #479ce0;
}

#menulist {
    margin-left: auto;
}

#menulist a {
    font-size: 18px;
    color: #479ce0;
    letter-spacing: 2px;
    margin: 10px;
    text-transform: uppercase;
}

#menulist a:hover {
    color: inherit;
}

#menulist .active {
    border-bottom: 1px solid #274c77;
    color: #274c77;
}

/*--------------------------------------Media Queries for Heading---*/

@media screen and (max-width: 991px) {
    #menulist .active {
        border-bottom: none;
        color: #274c77;
    }
}

@media screen and (max-width: 768px) {
    #logo {
        color: inherit;
        font-family: Kalam, cursive;
        font-size: 35px;
        letter-spacing: 2px;
        float: left;
    }

    .navbar-toggler {
        padding: 0.15rem 0.45rem;       
    }

    #menulist a {
        font-size: 18px;
    }
}

@media screen and (max-width: 425px) {
    #logo {
        color: inherit;
        font-family: Kalam, cursive;
        font-size: 35px;
        letter-spacing: 2px;
        float: left;
    }

    .navbar-toggler {
        padding: 0.10rem 0.40rem;       
    }

    #menulist a {
        font-size: 16px;
    }

    #menulist .active {
        border-bottom: none;
        color: #274c77;
    }
}

@media screen and (max-width: 375px) {
    #logo {
        color: inherit;
        font-family: Kalam, cursive;
        font-size: 30px;
        letter-spacing: 2px;
        float: left;
    }

    .navbar-toggler {
        padding: 0.10rem 0.40rem;       
    }

    #menulist a {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    #logo {
        color: inherit;
        font-family: Kalam, cursive;
        font-size: 23px;
        letter-spacing: 2px;
        float: left;
    }

    .navbar-toggler {
        padding: 0.05rem 0.30rem;       
    }

    #menulist a {
        font-size: 16px;
    }
}

/*---------------------------------------------Homepage---*/

#outer {
    height: 800px;
    width: 100%;
    background-color: #e7ecef; 
}

#hero-image {
    background: url("../images/hero-image.jpg") no-repeat center center;  
    height: 800px; 
    width: 100%;
    position: absolute;
    background-size: cover; 
}

#homepage-cover-text-background {
    text-align: center;
    background-color: rgba(231,236,239, .7);
    width: 250px;
    height: 250px;
    border-radius: 30%;

    margin-top: 350;
    margin-left: 1000;
}

#ul-benefits-list { 
    font-family: Kalam, cursive;
    color: #274c77; 
    letter-spacing: 2px;
    padding-left: 2%;
    padding-top: 25%;
    list-style-type: none;
    font-size: 30px;
} 

#subscribe-btn-home-cover {
    background-color: rgba(39,76,119,0.8);
    padding: 0;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    border: none;
}

#subscribe-btn-home-cover span {  
    text-transform: uppercase; 
    font-size: 20px;
    color: #e7ecef;
} 

#subscribe-btn-home-cover:hover {
    background-color: rgb(59, 158, 59);
}



/*--------------------------------------Media Queries for Homepage---*/

@media screen and (max-width: 768px) {

    #outer {
        height: 460px;
    }
    #hero-image {
        height: 450px;
    }

    #homepage-h1 {
        text-align: center;
        font-size: 22px;
        margin-top: 3px
        
    }

    #homepage-h1 span {
        color: #274c77;
        font-family: Kalam, cursive;
        letter-spacing: 2px;
    }

    #homepage-cover-text-background {
        width: 200px;
        height: 150px;
        margin-left: 500px;
        margin-top: 20px;
    
    }

    #ul-benefits-list {
        font-size: 17px;
        padding-left: 2%;
        padding: 2.1rem;
    }

    #subscribe-btn-home-cover {
        width: 180px;
        height: 50px;
        margin-left: 510px;
        margin-top: 30px;
        position: relative;
    }   

    #subscribe-btn-home-cover span {
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {

    #outer {
        height: 800px;
    }
    #hero-image {
        height: 318px;
    }

    #homepage-h1 {
        text-align: center;
        font-size: 20px;
        color: #479ce0;
        margin-top: 328px;
        font-weight: 500;
        padding: 2px;
        
    }

    #homepage-h1 span {
        color: #274c77;
        font-family: Kalam, cursive;
        letter-spacing: 2px;
    }

    #homepage-cover-text-background {
        width: 325px;
        height: 243px;
        margin: 50px;
        margin-top: 10px;
        background-color: #274c77;
    }

    #ul-benefits-list {
        color: #e7ecef;
        font-size: 36px;
        padding-left: 2%;
        padding: 2.35rem;
    }

    #subscribe-btn-home-cover {
        background-color: #479ce0;
        width: 60%;
        height: 18%;
        margin: 85px;
        margin-top: -30px;
    }   

    #subscribe-btn-home-cover span {
        color: #e7ecef;
        font-size: 20px;
    }
}

/* Middle mobile screen size - the hero image height adjusted. Cover text and button centred and reduced in size. Background colour changed also for contrasting again light background*/

@media screen and (max-width: 375px) {

    #outer {
        height: 700px;
    }
    #hero-image {
        height: 281px;
    }

    #homepage-h1 {
        text-align: center;
        font-size: 18px;
        color: #479ce0;
        margin-top: 291px;
        font-weight: 500;
        padding: 2px;
        
    }

    #homepage-h1 span {
        color: #274c77;
        font-family: Kalam, cursive;
        letter-spacing: 2px;
    }

    #homepage-cover-text-background {
        width: 275px;
        height: 206px;
        margin: 50px;
        margin-top: 10px;
        background-color: #274c77;
    }

    #ul-benefits-list {
        color: #e7ecef;
        font-size: 28px;
        padding-left: 2%;
        padding: 2.3rem;
    }

    #subscribe-btn-home-cover {
        background-color: #479ce0;
        width: 60%;
        height: 20%;
        margin: 75px;
        margin-top: -30px;
    }   

    #subscribe-btn-home-cover span {
        color: #e7ecef;
        font-size: 18px;
    }
}
/* Smallest mobile size with the hero image height adjusted. Cover text and button centred and reduced in size. Background colour changed also for contrasting again light background*/

@media screen and (max-width: 320px) {
    #outer {
        height: 600px;
    }
    #hero-image {
        height: 240px;
    }

    #homepage-h1 {
        text-align: center;
        font-size: 16px;
        color: #479ce0;
        margin-top: 250px;
        font-weight: 500;
        padding: 2px;
        
    }

    #homepage-h1 span {
        color: #274c77;
        font-family: Kalam, cursive;
        letter-spacing: 2px;
    }

    #homepage-cover-text-background {
        width: 220px;
        height: 165px;
        margin: 50px;
        margin-top: 10px;
        background-color: #274c77;

    }

    #ul-benefits-list {
        color: #e7ecef;
        font-size: 21px;
        padding-left: 2%;
        padding: 1.9rem;
    }

    #subscribe-btn-home-cover {
        background-color: #479ce0;
        width: 60%;
        height: 20%;
        margin: 64px;
        margin-top: -30px;

    }

    #subscribe-btn-home-cover span {
        color: #e7ecef;
        font-size: 15px;
    }

}
/*---------------------------------------------About Page---*/

.border-height {
    margin-top: 20px;
}

h2, h5  {
    text-align: center;
}

.color-change {
    background-color: #274c77;
    color: #e7ecef;
}

.hr-color {
    color: #479ce0;
}

#subscribe-btn-about { 
    margin-top: 20px; 
    text-align: center;
    padding: 5px;
} 

#subscribe-btn-about span {  
    text-transform: uppercase; 
    font-size: large;
    color: #274c77;
} 

#subscribe-btn-about button {
    background-color: rgb(71, 156, 224);
    border: none;
    border-radius: 30px;
}

#subscribe-btn-about button:hover {
    background-color: rgb(59, 158, 59);
}

.background-color p {
    color: #e7ecef;
}

.ideas-1 {
    height: 100px;
    padding: 2px;
    overflow: scroll;
}

.useful-links {
    text-align: center;
}

#hiddendisabilities {
    background-image: url(../css/images/hidden-disabilities_logo2.png) no-repeat centre centre;
}

/*---------------------------------------------Media Queries for About Page---*/

/*---------------------------------------------Subscribe Page---*/
#testing {
    border: 1px solid #479ce0;
    padding: 10px;
}

#sub-form {
    background-color: none;
    position: absolute;
    right: 200px;
    top: 60px;
    font-size: 20px;
    color: #274c77;   
}

#subscribe-btn-sub {
    right: 150px;
    top: 330px;
    position: absolute; 
}

#subscribe-btn-sub span {  
    text-transform: uppercase; 
    font-size: large;
    color: #e7ecef
} 

#subscribe-btn-sub button {
    background-color: rgba(39,76,119,0.8);
    border: none;
    border-radius: 30px;
}

#subscribe-btn-sub button:hover {
    background-color:rgb(59, 158, 59);
}

#sub-form h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*---------------------------------------------Media Queries for Subscribe---*/

/*---------------------------------------------Footer---*/
footer {
    position: relative;
    margin: 10px;
    border: 5px
}

footer .icons, p {
    text-align: center;
    color: #274c77;
}

.icons i {
    color: #479ce0;
}

.icons i:hover{
    color: #274c77;
}

a {
    font-size: 20px;
    padding: 20px;
}

.copyright {
    margin-top: 5px;
}

/*--------------------------------------Media Queries for Footer---*/